<div id="container">
  <div id="leftPanel">
      <mat-drawer-container class="example-container" >
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        
       
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>
    
    </mat-drawer-container>  
    
  </div>
  <div id="viewDiv"></div>
</div>
<!-- <div id="viewDiv">
<div id="heading-for-map" style="padding: 20px; background-color: rgb(235, 227, 227)">

    {{zoomValue}}

</div>
</div> -->
<!-- <style>
.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} 
.embed-container iframe,
 .embed-container object,
  .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} 
  small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
  </style>
  <span>hello</span>
  
    <iframe style="height:400px; width:70%;" src="/assets/Map.html">
     #iframe (load)="onLoad(iframe)"   > -->
      
      <!-- <app-sidemenu></app-sidemenu> -->
      
        
  <!-- </iframe> -->
    <!-- <app-animals [template]="lion"></app-animals> -->
\
