<div id="container">
  <div id="leftPanel">
      <mat-drawer-container class="example-container" >
      <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <!-- <div>
        <div class="card card-style" >
          <div class="card-body">
            <h5 class="card-title">Test 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card card-style" >
          <div class="card-body">
            <h5 class="card-title">Test 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card card-style" >
          <div class="card-body">
            <h5 class="card-title">Test 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card card-style" >
          <div class="card-body">
            <h5 class="card-title">Test 4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      <div class="row row-cols-1  g-3">
        <div class="col ">
          <div class="card ">
           
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
         
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
          
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
          </div>
        </div>
      </div>
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <!-- <button  mat-raised-button color="warn" (click)="drawer.toggle()">
         Show 
        </button>
        <br>
        <button mat-raised-button color="primary" (click)="drawer.toggle()">
          Hide 
        </button> -->
      </div>
    
    </mat-drawer-container>  
    
  </div>
  <div    class="btn-style-close">
    <button *ngIf="!isRightArrowButton" mat-raised-button color="warn" (click)="drawer.toggle();onClose()">
      open
     </button>
     </div>
     <div class="btn-style">
    <button *ngIf="isRightArrowButton" mat-raised-button color="warn" (click)="drawer.toggle();onClose()">
    close
     </button>
  </div> 
  <!-- [ngClass]="{'map-view':isLeftArrowButton,'map-view-close':!isLeftArrowButton}" -->
  <div  [ngClass]="{'map-view ':isRightArrowButton,'map-view-close ':!isRightArrowButton}" id="viewDiv"></div>

</div>
<!-- <div id="viewDiv">
<div id="heading-for-map" style="padding: 20px; background-color: rgb(235, 227, 227)">

    {{zoomValue}}

</div>
</div> -->
<!-- <style>
.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} 
.embed-container iframe,
 .embed-container object,
  .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} 
  small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
  </style>
  <span>hello</span>
  
    <iframe style="height:400px; width:70%;" src="/assets/Map.html">
     #iframe (load)="onLoad(iframe)"   > -->
      
      <!-- <app-sidemenu></app-sidemenu> -->
      
        
  <!-- </iframe> -->
    <!-- <app-animals [template]="lion"></app-animals> -->

